.squick-file-item {
	border-bottom: solid 1px #eee;
	margin-bottom: 10px;
}
.squick-file-item:after {
	content: '';
	display: block;
	clear: both;
}
.squick-file-item > span {
	position: relative;
	left: -10px;
	display: block;
	float: left;
	width: 65px;
	height: 75px;
	line-height: 75px;
	font-size: 75px;
	cursor: move;

}
.squick-file-info {
	padding-left: 65px;
}
.squick-file-info > div {
	margin-bottom: 10px;
}
.squick-file-title {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
	text-decoration: none;
}
.squick-file-action {
	color: #0073aa;
}
.squick-file-action > span {
	display: inline-block;
	cursor: pointer;
}
.squick-file-action > span:hover{
	color: #00a0d2;
}
span.squick-file-action-separate,
span.squick-file-action-separate:hover{
	color: #ddd;
}
.squick-file-sortable-placeholder {
	height: 80px;
	margin-bottom: 5px;
	border: dashed 3px #ddd;
	padding: 3px;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.76' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	background-clip: content-box;
}