/**
 * Theme Options Style
 * *******************************************************
 */
.squick-theme-options-page {
	position: relative;
}
.squick-theme-options-page i.dashicons {
	display: inline;
	vertical-align: middle;
	font-size: 1.2em;
}
.squick-theme-options-page-loading {
	content: "Loading...";
	display: none;
	position: absolute;
	z-index: 999999;
	background-color: rgba(0,0,0,0.4);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 32px;
	padding: 40px;
	color: #aaa;
}
.squick-theme-options-page-loading .loader {
	color: #96d6f5;
}
.squick-theme-options-page.in .squick-theme-options-page-loading{
	display: block;
}
.squick-theme-options-wrapper {
	border: solid 3px #0073AA;
}
.squick-theme-options-wrapper * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.squick-theme-options-header {
	background-color: #0073AA;
	border-bottom: 3px solid #0073AA;
	color: #fff;
	padding: 10px 15px;
	position: relative;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}
.wrap .squick-theme-options-title h1 {
	color: #fff;
	padding: 10px 0;
	margin: 0;
	font-size: 24px;
	font-weight: 600;
}
.squick-theme-options-title h1 > span {
	font-size: 0.6em;
	font-style: italic;
	color: #5abae8;
}
.squick-theme-options-title > p {
	margin-top: -15px;
	color: #ddd;
}
.squick-theme-options-action {
	float: right;
}
.squick-theme-options-action-wrapper.squick-affix {
	height: 45px;
}
.squick-theme-options-action-wrapper.squick-affix .squick-theme-options-action-inner {
	position: fixed;
	top: 32px;
	border-bottom: none;
	-webkit-box-shadow: 0 0 15px 0 #000;
	-moz-box-shadow: 0 0 15px 0 #000;
	box-shadow: 0 0 15px 0 #000;
	z-index: 9999;
}
.squick-theme-options-wrapper .squick-sections ul {
	min-height: 400px;
}

.squick-theme-options-backup-popup-wrapper {
	position: relative;
	background: #FFF;
	width: auto;
	max-width: 720px;
	margin: 0 auto;
	overflow: auto;
}

.squick-theme-options-backup-header {
	position: relative;
	background: #0073AA;
	color: #fff;
}
.squick-theme-options-backup-header h4 {
	float: left;
	margin: 0;
	padding: 15px 15px;
	font-size: 15px;
}
.squick-theme-options-backup-header span {
	position: absolute;
	right: 10px;
	top: 8px;
	cursor: pointer;
}
.squick-theme-options-backup-header span:hover {
	color: #0073aa;
}
.squick-theme-options-backup-content {
	padding: 0 15px 15px;
}
.squick-theme-options-backup-content h5 {
	margin: 15px 0 5px;
	font-size: 14px;
}
.squick-theme-options-backup-content textarea {
	width: 100%;
	height: 60px;
}
.squick-theme-options-backup-import > span {
	display: inline-block;
	padding-top: 5px;
	color: #b12121;
}
.squick-theme-options-backup-popup-wrapper .mfp-close {
	color: #fff;
}
.squick-theme-options-message {
	display: none;
	margin: 15px 0;
	padding: 10px 15px;
	font-style: italic;
	font-size: 16px;
	letter-spacing: 0.03em;
	border-left: solid 3px #8a6d3b;
	color: #8a6d3b;
	background-color: #fcf8e3;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}
.squick-theme-options-message.squick-success {
	border-left: solid 3px #5CB85C;
	color: #5CB85C;
	background-color: #fff;
}
.squick-theme-options-action-inner .squick-theme-options-message {
	float: left;
	margin: 0;
	padding: 5px 10px;
	background-color: transparent;
	box-shadow: none;
}

.squick-theme-options-footer,
.squick-theme-options-action-inner {
	background-color: #fff;
	padding: 8px 15px;
	background-color: #eee;
	border-bottom: solid 1px #ddd;
}
.squick-theme-options-footer {
	border-top: solid 1px #ddd;
}

.squick-theme-options-preset-popup-content > div {
	display: flex;
}
.squick-theme-options-preset-popup-content input {
	flex: 1 1 auto;
}
.squick-theme-options-preset {
	float: left;
}
.squick-theme-options-preset-select {
	width: 210px;
	border-right: solid 1px #ddd;
	margin: -8px 0 -8px -15px;
	padding: 8px 15px;
	position: relative;
	float: left;
	cursor: pointer;
	background-color: #f1f1f1;
	color: #222;
	box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.1);
}
.squick-theme-options-preset-select.in,
.squick-theme-options-preset-select:hover {
	-webkit-box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1);
}
.squick-theme-options-preset-select > div {
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.squick-theme-options-preset-select ul {
	position: absolute;
	z-index: 9999;
	width: 100%;
	transform: translate(-15px,8px);
	padding: 5px 0;
	margin: 0;
	-webkit-box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.1);
	max-height: 500px;
	overflow: auto;
	background-color: #fff;
	display: none;
}
.squick-theme-options-preset-select.in ul {
	display: block;
}
.squick-theme-options-preset-select li {
	padding: 7px 15px;
	margin: 0;
	display: flex;
	align-items: flex-start;
}
.squick-theme-options-preset-select li:before {
	content: "\f108";
	margin-right: 10px;
	font-family: dashicons;
	font-size: 120%;
	line-height: 1.2;
}
.squick-theme-options-preset-select li:hover {
	background-color: rgba(0,0,0,0.1);
}
.squick-theme-options-preset button {
	float: left;
	margin-left: 15px!important;
}
.squick-preset-action {
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	height: 28px;
	margin: auto;
}